
Library/ArtifactDB
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/EditorInstance.json
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker1-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/FSTimeGet-66905a6f5c20891479993e1be4e686ab
Temp/PropertyDatabase_1265138678
Temp/PropertyDatabase_2066312223
Temp/UnityLockfile
Temp/workerlic
*.db
