
Library/ArtifactDB
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/EditorInstance.json
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker1-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/FSTimeGet-66905a6f5c20891479993e1be4e686ab
Temp/PropertyDatabase_1265138678
Temp/PropertyDatabase_2066312223
Temp/UnityLockfile
Temp/workerlic
*.db
Library/Artifacts/21/215235db47b572477cdeb6d2b7a0f618
Library/Artifacts/34/34833a443fd90e2dbcb9d2e099f233bc
Library/Artifacts/38/381b992d2d435d21b6f61403961bcba4
Library/Artifacts/4c/4cb728c37cca4aa2e49881ce0b9febce
Library/Artifacts/51/51577024fcf297f2eb8d18d5a4f3e238
Library/Artifacts/53/53de46332652c169a95cfefa463a0e30
Library/Artifacts/82/82fb85a30792866b5949a32830767f02
Library/Artifacts/a7/a73a4c10413e71320791d944578dc38d
Library/Artifacts/a9/a93c7a3d1a2659fe9cf13006f8990367
Library/Artifacts/ab/ab64f11d705dbb1e13babe1db825a543
Library/Artifacts/ab/ab8c07dd887f95609b608f8b65b25970
Library/Artifacts/b6/b695b07a0c190a74147c7ca468264e03
Library/Artifacts/e9/e932d90e05a2af1a6cf4e2291fd540db
Library/ShaderCache/builtin/unity_builtin_extra0000/00/a53f2bcf1ad576072b10c98e522520e4.bin
Library/Search/transactions.db
Library/ArtifactDB
Library/Search/transactions.db
Library/ShaderCache/builtin/unity_builtin_extra0000/00/f62c4a82546f9714049ecd8290c1cbc6.bin
Library/ShaderCache/EditorEncounteredVariants
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Temp/FSTimeGet-1685c9c499254f142a6f191f8e85c92f
Temp/FSTimeGet-6332f4f5d1fcfba4a8820694e54fee70
Library/ArtifactDB
Library/Search/transactions.db
Library/ShaderCache/EditorEncounteredVariants
Library/SourceAssetDB
*.db
